<%- include('partials/header') %>

<!-- The Modal -->
<div  class="edit-post-container">

  <div class="loading-animation">
            
  </div>

    <!-- Modal content -->
    <div class="edit-post-content">
      
        <form id="editForm" action="/edit/<%= postId %>" method="POST">
          <%- include('partials/errorMessage') %>
            <label for="title" class="title">Title</label>
            <input type="text" name="title" id="title" value="<%= title %>">

            <label for="content" class="post-content">Content</label>
            <textarea name="content" class="editContent" id="content"><%= content %></textarea>

            <input type="submit" name="submit" id="update-post" value="Update"></input>

        </form>

    </div>
  
  </div>


<%- include('partials/footer.ejs') %>